# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Models (ใหญ่เกินไปสำหรับ GitHub)
models/*.pkl